## Top Movies of 2023

In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://www.boxofficemojo.com/year/2023/?ref_=bo_yl_table_1'
response = requests.get(url)

In [3]:
twenty_three = pd.read_html(response.text)

twenty_three_df = twenty_three[0]

twenty_three_df.head(20)

,Rank,Release,Genre,Budget,Running Time,Gross,Theaters,Total Gross,Release Date,Distributor,Estimated
0,1,Barbie,-,-,-,"$636,225,983",4337,"$636,227,208",Jul 21,Warner Bros.,False
1,2,The Super Mario Bros. Movie,-,-,-,"$574,934,330",4371,"$574,934,330",Apr 5,Universal Pictures,False
2,3,Spider-Man: Across the Spider-Verse,-,-,-,"$381,311,319",4332,"$381,311,319",Jun 2,Columbia Pictures,False
3,4,Guardians of the Galaxy Vol. 3,-,-,-,"$358,995,815",4450,"$358,995,815",May 5,Walt Disney Studios Motion Pictures,False
4,5,Oppenheimer,-,-,-,"$326,101,370",3761,"$326,103,070",Jul 21,Universal Pictures,False
5,6,The Little Mermaid,-,-,-,"$298,172,056",4320,"$298,172,056",May 26,Walt Disney Studios Motion Pictures,False
6,7,Avatar: The Way of Water,-,-,-,"$283,067,859",4340,"$684,075,767",Dec 16,20th Century Studios,False
7,8,Ant-Man and the Wasp: Quantumania,-,-,-,"$214,504,909",4345,"$214,504,909",Feb 17,Walt Disney Studios Motion Pictures,False
8,9,John Wick: Chapter 4,-,-,-,"$187,131,806",3855,"$187,131,806",Mar 24,Lions Gate Films,False
9,10,Sound of Freedom,-,-,-,"$184,177,725",3411,"$184,178,046",Jul 4,Angel Studios,False
10,11,Taylor Swift: The Eras Tour,-,-,-,"$179,635,196",3855,"$179,650,565",Oct 13,-,False
11,12,Indiana Jones and the Dial of Destiny,-,-,-,"$174,480,468",4600,"$174,480,468",Jun 30,Walt Disney Studios Motion Pictures,False
12,13,Mission: Impossible - Dead Reckoning Part One,-,-,-,"$172,135,383",4327,"$172,135,383",Jul 12,Paramount Pictures,False
13,14,The Hunger Games: The Ballad of Songbirds & Sn...,-,-,-,"$159,719,625",3776,"$161,163,157",Nov 17,Lions Gate Films,False
14,15,Transformers: Rise of the Beasts,-,-,-,"$157,066,392",3680,"$157,066,392",Jun 9,Paramount Pictures,False
15,16,Creed III,-,-,-,"$156,248,615",4007,"$156,248,615",Mar 3,United Artists Releasing,False
16,17,Elemental,-,-,-,"$154,426,697",4035,"$154,426,697",Jun 16,Walt Disney Studios Motion Pictures,False
17,18,Fast X,-,-,-,"$146,126,015",4088,"$146,126,015",May 19,Universal Pictures,False
18,19,Five Nights at Freddy's,-,-,-,"$137,275,620",3789,"$137,275,620",Oct 27,Universal Pictures International (UPI),False
19,20,Wonka,-,-,-,"$133,129,902",4213,"$144,368,534",Dec 15,Warner Bros.,False

In [4]:
drop_columns = ['Genre', 'Budget', 'Running Time', 'Total Gross', 'Estimated']
twenty_three_df = twenty_three_df.drop(columns=drop_columns)

twenty_three_df = twenty_three_df.rename(columns={'Gross': 'Gross Earnings', 'Release': 'Title', 'Theaters': 'Number of Theaters'})
twenty_three_df['Gross Earnings'] = twenty_three_df['Gross Earnings'].replace('[\$,]', '', regex=True).astype(int)

twenty_three_df['Number of Theaters'] = pd.to_numeric(twenty_three_df['Number of Theaters'], errors='coerce')
# Fills NaN values in 'Number of Theaters' with 0
twenty_three_df['Number of Theaters'].fillna(0, inplace=True)
twenty_three_df['Number of Theaters'] = twenty_three_df['Number of Theaters'].astype(int)

In [5]:
twenty_three_df = twenty_three_df.set_index('Rank')

In [6]:
twenty_three_df.head(20)

,Title,Gross Earnings,Number of Theaters,Release Date,Distributor
Rank,,,,,
1,Barbie,636225983,4337,Jul 21,Warner Bros.
2,The Super Mario Bros. Movie,574934330,4371,Apr 5,Universal Pictures
3,Spider-Man: Across the Spider-Verse,381311319,4332,Jun 2,Columbia Pictures
4,Guardians of the Galaxy Vol. 3,358995815,4450,May 5,Walt Disney Studios Motion Pictures
5,Oppenheimer,326101370,3761,Jul 21,Universal Pictures
6,The Little Mermaid,298172056,4320,May 26,Walt Disney Studios Motion Pictures
7,Avatar: The Way of Water,283067859,4340,Dec 16,20th Century Studios
8,Ant-Man and the Wasp: Quantumania,214504909,4345,Feb 17,Walt Disney Studios Motion Pictures
9,John Wick: Chapter 4,187131806,3855,Mar 24,Lions Gate Films
10,Sound of Freedom,184177725,3411,Jul 4,Angel Studios
11,Taylor Swift: The Eras Tour,179635196,3855,Oct 13,-
12,Indiana Jones and the Dial of Destiny,174480468,4600,Jun 30,Walt Disney Studios Motion Pictures
13,Mission: Impossible - Dead Reckoning Part One,172135383,4327,Jul 12,Paramount Pictures
14,The Hunger Games: The Ballad of Songbirds & Sn...,159719625,3776,Nov 17,Lions Gate Films
15,Transformers: Rise of the Beasts,157066392,3680,Jun 9,Paramount Pictures
16,Creed III,156248615,4007,Mar 3,United Artists Releasing
17,Elemental,154426697,4035,Jun 16,Walt Disney Studios Motion Pictures
18,Fast X,146126015,4088,May 19,Universal Pictures
19,Five Nights at Freddy's,137275620,3789,Oct 27,Universal Pictures International (UPI)
20,Wonka,133129902,4213,Dec 15,Warner Bros.

In [7]:
twenty_three_df.to_csv('/Users/sam/Desktop/MY_UC_BERK/PROJECTS/PROJECT_3/top_movies_2023.csv')

## Top Movies of All Time

In [8]:
url2 = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?ref_=bo_cso_ac'
response = requests.get(url2)

In [9]:
all_time = pd.read_html(response.text)

all_time_df = all_time[0]

all_time_df.head(20)

    Rank                                          Title Lifetime Gross  Year
0      1     Star Wars: Episode VII - The Force Awakens   $936,662,225  2015
1      2                              Avengers: Endgame   $858,373,000  2019
2      3                        Spider-Man: No Way Home   $814,115,070  2021
3      4                                         Avatar   $785,221,649  2009
4      5                              Top Gun: Maverick   $718,732,821  2022
5      6                                  Black Panther   $700,426,566  2018
6      7                       Avatar: The Way of Water   $684,075,767  2022
7      8                         Avengers: Infinity War   $678,815,482  2018
8      9                                        Titanic   $674,292,608  1997
9     10                                 Jurassic World   $653,406,625  2015
10    11                                         Barbie   $636,227,208  2023
11    12                                   The Avengers   $623,357,910  2012
12    13        Star Wars: Episode VIII - The Last Jedi   $620,181,382  2017
13    14                                  Incredibles 2   $608,581,744  2018
14    15                    The Super Mario Bros. Movie   $574,934,330  2023
15    16                                  The Lion King   $543,638,043  2019
16    17                                The Dark Knight   $534,987,076  2008
17    18                   Rogue One: A Star Wars Story   $533,539,991  2016
18    19  Star Wars: Episode IX - The Rise of Skywalker   $515,202,542  2019
19    20                           Beauty and the Beast   $504,481,165  2017

In [10]:
all_time_df = all_time_df.set_index('Rank')
all_time_df['Title'] = all_time_df['Title'].astype(str)
all_time_df['Lifetime Gross'] = all_time_df['Lifetime Gross'].replace('[\$,]', '', regex=True).astype(int)

In [11]:
all_time_df.head(20)

                                              Title  Lifetime Gross  Year
Rank
1        Star Wars: Episode VII - The Force Awakens       936662225  2015
2                                 Avengers: Endgame       858373000  2019
3                           Spider-Man: No Way Home       814115070  2021
4                                            Avatar       785221649  2009
5                                 Top Gun: Maverick       718732821  2022
6                                     Black Panther       700426566  2018
7                          Avatar: The Way of Water       684075767  2022
8                            Avengers: Infinity War       678815482  2018
9                                           Titanic       674292608  1997
10                                   Jurassic World       653406625  2015
11                                           Barbie       636227208  2023
12                                     The Avengers       623357910  2012
13          Star Wars: Episode VIII - The Last Jedi       620181382  2017
14                                    Incredibles 2       608581744  2018
15                      The Super Mario Bros. Movie       574934330  2023
16                                    The Lion King       543638043  2019
17                                  The Dark Knight       534987076  2008
18                     Rogue One: A Star Wars Story       533539991  2016
19    Star Wars: Episode IX - The Rise of Skywalker       515202542  2019
20                             Beauty and the Beast       504481165  2017

In [12]:
all_time_df.to_csv('/Users/sam/Desktop/MY_UC_BERK/PROJECTS/PROJECT_3/goat_movies.csv')